<div class="jumbotron jumbotron-fluid text-center bg-dark text-light p-5">
  <h1>Eat-Da-Burger! App</h1>
</div>

<div class="container">
  <div class="row">
    {{!-- column for form --}}
    <div class="col-12 col-md-3">
      <form id="burger-form">
        <input class="form-control" id="name-input" placeholder="Burger's Name"/>
        <button class="btn btn-primary btn-block" type="submit">
          Order A Burger!
        </button>
      </form>
    </div>
    {{!-- end left column --}}
    {{!-- right column to display burgers--}}
    <div class="col-12 col-md-9">
      {{!-- make two columns in right column --}}
      <div class="row">
        {{!-- inner left column --}}
        <div class="col-12 col-md-7">
          <h2>Burgers That Aren't Ready Yet</h2>
          <ul class="list-group">
            {{!-- use handlebars to print burgers that aren't hungry --}}
            {{#each burgerData}}
              {{!-- this is the same as saying !== --}}
              {{#unless ready}}
                <li class="list-group-item d-flex">
                  {{name}} 
                  <span class="ml-auto">
                    <button 
                      data-id="{{id}}"
                      data-ready="true"
                      class="btn btn-sm btn-success update-burger"
                      >
                     Make Ready
                    </button> 
                  </span>
                </li>
              {{/unless}}
            {{/each}}
          </ul>
        </div>
        {{!-- end inner left --}}
        {{!-- inner right --}}
        <div class="col-12 col-md-5">
          <h2>Ready to Eat!</h2>
          <ul class="list-group">
            {{!-- use handlebars to print burgers that aren't hungry --}}
            {{#each burgerData}}
            {{!-- this is the same as saying !== --}}
            {{#if ready}}
            <li class="list-group-item d-flex">
              {{name}}
              <span class="ml-auto">
                
                {{!-- delete burger --}}
                <button data-id="{{id}}" class="btn btn-sm btn-danger delete-burger">
                 Eat Burger
                </button>
                
              </span>
            </li>
            {{/if}}
            {{/each}}
          </ul>
        </div>
        {{!-- end inner right --}}
      </div>
    </div>
  </div>
</div>

<script src="./assets/js/burgers.js"></script>